name: Backend CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  backend-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      #  Deployment Started
      - name: Notify Teams - Deployment Started
        run: |
          curl -H "Content-Type: application/json" \
          -d '{
            "@type": "MessageCard",
            "@context": "http://schema.org/extensions",
            "themeColor": "0076D7",
            "summary": "Deployment Started",
            "title": "Deployment Started",
            "text": "CI/CD pipeline deployment has started."
          }' \
          ${{ secrets.TEAMS_WEBHOOK_URL }}

      - name: Backend Test Step
        run: |
          echo "Running backend build / tests..."
          sleep 5
          echo "Backend workflow completed successfully"

